/* Default styles */
:root {
    /* CSS HSL */
    --true-blue: hsla(210, 96%, 40%, 1);
    --sapphire: hsla(210, 96%, 33%, 1);
    --yale-blue: hsla(211, 97%, 25%, 1);
    --oxford-blue: hsla(212, 100%, 17%, 1);
    --oxford-blue-2: hsla(219, 100%, 14%, 1);
    --oxford-blue-3: hsla(219, 100%, 10%, 1);
    --delft-blue: hsla(220, 29%, 28%, 1);
    --paynes-gray: hsla(220, 15%, 43%, 1);
    --slate-gray: hsla(222, 11%, 54%, 1);
    --cool-gray: hsla(223, 11%, 63%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: white;
}

body {
    min-height: 100dvh;
    max-width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:hsla(220,100%,22%,1);
background-image:
radial-gradient(at 49% 40%, hsla(253,100%,47%,1) 0px, transparent 50%),
radial-gradient(at 96% 41%, hsla(250,100%,38%,1) 0px, transparent 50%),
radial-gradient(at 72% 97%, hsla(253,100%,49%,0.9) 0px, transparent 50%),
radial-gradient(at 86% 9%, hsla(253,70%,45%,1) 0px, transparent 50%),
radial-gradient(at 12% 48%, hsla(300,62%,20%,0.38) 0px, transparent 50%),
radial-gradient(at 89% 70%, hsla(224,92%,46%,1) 0px, transparent 50%);
    &::-webkit-scrollbar {
        width: .45em;
    }

    &::-webkit-scrollbar-track {
        background: color-mix(in srgb, var(--cool-gray), transparent 60%);
        border-left: 1px solid hsla(111, 24%, 94%, .1);
    }
    
    &::-webkit-scrollbar-thumb {
        background: color-mix(in srgb, var(--oxford-blue), transparent 25%);
    }
}

@import './shared/typo';
@import './shared/var';
@import './components/navbar';
@import './components/footer';
@import './responsive';

// Page sections
@import './home/intro';

.background{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-30deg) translate(25%, 15%);
    z-index: -1;
}

.frame-box{
    display: flex;
    justify-content: center;
}
.frame{
    width: 250px;
    aspect-ratio: 2/1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: $spacing;
    margin: $spacing-xs;
}

main {
    overflow: hidden;
}
section {
    min-height: 100vh;
}

#intro{
    // background: black;
}
#skill{
    // background: blue;
}
#portfolio{
    // background: yellow;
}
#website{
    // background: green;
}
#get-in-touch{
    // background: magenta;
}