/* Default styles */
:root {
    /* CSS HSL */
    --lavender-web: hsla(248, 54%, 89%, 1);
    --mint-cream: hsla(111, 24%, 94%, 1);
    --dark-black: hsl(210, 50%, 1%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    color: var(--mint-cream);
}

body {
    min-height: 100dvh;
    max-width: 100vw;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color:hsla(220,100%,22%,1);
    background-image:
    radial-gradient(at 49% 40%, hsla(253,100%,47%,1) 0px, transparent 50%),
    radial-gradient(at 96% 41%, hsla(250,100%,38%,1) 0px, transparent 50%),
    radial-gradient(at 72% 97%, hsla(253,100%,49%,0.9) 0px, transparent 50%),
    radial-gradient(at 86% 9%, hsla(253,70%,45%,1) 0px, transparent 50%),
    radial-gradient(at 12% 48%, hsla(300,62%,20%,0.38) 0px, transparent 50%),
    radial-gradient(at 89% 70%, hsla(224,92%,46%,1) 0px, transparent 50%);
    &::-webkit-scrollbar {
        width: .45em;
    }

    &::-webkit-scrollbar-track {
        background: color-mix(in srgb, var(--mint-cream), transparent 60%);
        border-left: 1px solid hsla(111, 24%, 94%, .1);
    }
    
    &::-webkit-scrollbar-thumb {
        background: color-mix(in srgb, var(--mint-cream), transparent 25%);
    }
}

@import './shared/typo';
@import './shared/var';
@import './components/navbar';
@import './components/footer';
@import './responsive';

// Page sections
@import './home/intro';
@import './home/website';

.background{
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-30deg) translate(25%, 15%);
    z-index: -1;
}

.frame-box{
    display: flex;
    justify-content: center;
}
.frame{
    width: 250px;
    aspect-ratio: 2/1;
    background: rgba(255, 255, 255, 0.1);
    border-radius: $spacing;
    margin: $spacing-xs;
}

main {
    overflow: hidden;
}
section {
    min-height: 100vh;
}

// Fixed scroll/get to top
.fixed{
    position: fixed;
    bottom: $spacing-lg;
    left: $spacing-lg;
    width: fit-content;
    height: fit-content;
}

.scroll-top{
    width: 25px;
    aspect-ratio: 1/1.5;
    border-radius: $spacing;
    outline: 2px solid color-mix(in srgb, var(--mint-cream), transparent 50%);
    box-shadow: 0px 0px 10px var(--mint-cream);
    position: relative;
    cursor: pointer;
    &:hover::before{
        transform: translateY(-50%) scaleX(1);
    }
    &::after{
        content: '';
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-40%, -50%);
        height: 10px;
        width: 5px;
        border-radius: 2px;
        background: var(--mint-cream);
        box-shadow: 0px 0px 10px var(--mint-cream);
        animation: scroll 1s linear infinite;;
    }
    &::before{
        content: 'scroll pour en voir plus';
        position: absolute;
        width: max-content;
        font-weight: 200;
        left: 35px;
        top: 50%;
        transform: translateY(-50%) scaleX(0);
        transform-origin: left;
        transition: transform .15s ease-in-out;
    }
}

@keyframes scroll {
    0% {
        transform: translate(-50%, -50%);
    }
    
    50% {
        transform: translate(-50%, -30%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}
