#form{
    height: fit-content;
    margin: 15% 0 0;
    h2{
        width: fit-content;
        margin: 0 auto;
    }
}
form{
    width: clamp(300px, 75%, 800px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    input{
        background: none;
        padding: $spacing;
        border-radius: $spacing-lg;
        margin: $spacing 0;
        width: 100%;
        border: 2px solid var(--mint-cream);
        &:focus{
            outline: none;
        }
    }
    button{
        background: none;
        padding: $spacing-xs $spacing-xl;
        border-radius: $spacing-lg;
        border: 2px solid var(--mint-cream);
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        font-size: 1rem;
        width: fit-content;
        align-self: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        transition: color .25s ease-in-out .25s;
        &::before{
            content: '';
            position: absolute;
            height: 105%;
            width: 105%;
            top: 50%;
            left: 0;
            background: var(--mint-cream);
            transform: translateY(150%);
            z-index: -1;
            transition: transform .25s ease-in-out;
        }
        &:hover{
            color: hsla(224,92%,46%,1);
        }
        &:hover::before{
            transform: translateY(-50%);
        }
    }
}