#form{
    display: flex;
    justify-content: center;
    align-items: center;
    > div{
        width: 50%;
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: $spacing-xxl;
    flex-grow: 1;
    .details{
        > div{
            margin: $spacing-xl 0;
            display: flex;
            align-items: center;
            gap: $spacing;
            span{
                position: relative;
                top: 2px;
            }
        }
    }
    .social-media{
        display: flex;
        gap: $spacing-xxl;
    }
}

form{
    width: 100%;
    background-color: white;
    border-radius: $spacing-md;
    padding: $spacing-lg;
    display: grid;
    gap: $spacing-md;
    label{
        color: var(--palatinate-blue);
    }
    > div{
        display: flex;
        flex-direction: column;
    }
    input, textarea{
        background: none;
        width: 100%;
        color: black;
        font-size: 1rem;
        font-family: 'Inter';
        &:focus{
            outline: none;
        }
    }
    textarea{
        resize: none;
        border-radius: $spacing;
        padding: $spacing;
        margin: $spacing-xs 0 0;
    }
    input{
        border: none;
        border-bottom: 2px solid var(--palatinate-blue);
        padding: $spacing;
    }
    button{
        width: fit-content;
        background: none;
        color: var(--palatinate-blue);
        border: 2px solid var(--palatinate-blue);
        padding: $spacing-xs $spacing-lg;
        justify-self: center;
        border-radius: $spacing-lg;
        font-weight: 600;
        text-transform: uppercase;
    }
}