@use "../shared";

#form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: calc(shared.$spacing-xxl * 2);
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: shared.$spacing-xxl;
    flex-grow: 1;
    h2 {
      max-width: 20ch;
      svg {
        transform: scale(1.2);
      }
    }

    .details {
      display: grid;
      gap: shared.$spacing;
    }
    .contacts {
      display: flex;
      align-items: center;
      gap: shared.$spacing-xs;
      &:nth-child(3) {
        gap: calc(shared.$spacing-xs + 4px);
      }
    }

    .social-media {
      display: flex;
      gap: shared.$spacing-xxl;
    }
  }
}

form {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: shared.$spacing-md;
  padding: shared.$spacing-lg;
  display: grid;
  gap: shared.$spacing-md;
  label {
    color: var(--palatinate-blue);
    font-weight: 500;
  }
  > div {
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    background: none;
    width: 100%;
    color: var(--palatinate-blue);
    font-size: 1rem;
    &:focus {
      outline: none;
    }
  }
  textarea {
    resize: none;
    border-radius: shared.$spacing;
    padding: shared.$spacing-xs shared.$spacing;
    margin: shared.$spacing-xs 0 0;
  }
  input {
    border: none;
    border-bottom: 2px solid var(--palatinate-blue);
    padding: shared.$spacing;
  }
  button {
    width: fit-content;
    background: none;
    color: var(--palatinate-blue);
    border: 2px solid var(--palatinate-blue);
    padding: shared.$spacing-xs shared.$spacing-lg;
    justify-self: center;
    border-radius: shared.$spacing-lg;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    overflow: hidden;
  }
}

.social-media {
  a {
    display: flex;
    align-items: center;
    gap: shared.$spacing-xs;
    position: relative;
    width: 35px;
    transition: 0.35s width ease-in-out 0.25s;
    &::after {
      position: absolute;
      left: 50%;
      content: attr(data-name);
      font-size: calc(shared.$font-size-md - 6px);
      font-weight: 600;
      transform: translateX(-10px);
      opacity: 0;
      transition: 0.25s;
      transition-delay: 0.35s;
    }
    &:hover {
      width: 105px;
      &::after {
        opacity: 1;
      }
    }
  }
}
