@use '../shared';
#intro{
    display: grid;
    height: calc(100dvh - 74px);
    height: calc(100vh - 74px);

    .bio{
        width: fit-content;
        height: fit-content;
        margin: auto 0;
        h1{
            max-width: 75ch;
        }
        p{
            max-width: 55ch;
        }
        .emoji{
            position: relative;
            top: 4px;
        }
    }

    a{
        display: inline-block;
        margin: shared.$spacing-lg 0 0;
        padding: 6px 14px;
        border-radius: shared.$spacing-lg;
        border: 2px solid white;
    }

    .patern{
        position: absolute;
        right: 0;
        transform: rotate(45deg);
    }
}