#project{
    position: relative;
    min-height: none;
    height: 50vh;
    display: grid;
    align-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    h2{
        text-align: center;
    }
    @media (max-width: $breakpoint-sm) {
        padding: 0 $spacing;
        h2{
            display: none;
        }
    }
}
.utilities{
    display: grid;
    grid-template-columns: repeat(auto-fit, 375px);
    justify-content: center;
    gap: $spacing-lg;
    margin: $spacing-2xl 0 0;
    > div{
        background: rgba(255, 255, 255, 0.2);
        border-radius: $spacing;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: $spacing;
    }
    .more{
        display: none;
    }
}
.tools{
    display: grid;
    gap: $spacing-xs;
    .title{
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        span{
            position: relative;
            top: 2px;
        }
    }
    .foot{
        display: flex;
        gap: $spacing-lg;
        margin: $spacing 0 0;
    }
}