// Tech stack
#skill{
    position: relative;
    @media (max-width: $breakpoint-md) {
        padding: $spacing-2xl $spacing;
    }
    @media (max-width: $breakpoint-xs) {
        padding: 0 25px;
    }
}
.tech{
    h2{
        text-align: center;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: $spacing-xxl;
        margin: $spacing 0 calc($spacing-xxl * 2);
        li{
            position: relative;
        }
        // :nth-child(4)::after, :nth-child(7)::after{
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     right: -25px;
        //     transform: translateY(-50%);
        //     height: 60px;
        //     width: 4px;
        //     border-radius: 2px;
        //     background: rgba(255, 255, 255, 0.2);
        // }
        @media (max-width: $breakpoint-sm) {
            gap: $spacing-xl;
            :nth-child(4){
                order: 12;
            }
        }
        @media (max-width: $breakpoint-xs) {
            gap: 0 $spacing-lg;
            li{
                transform: scale(.8);
            }
        }
    }
}

// What I Do 👀
.do{
    h2{
        text-align: center;
    }
    > p{
        margin: $spacing 0 0;
        text-align: center;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(auto-fit, 375px);
        justify-content: center;
        gap: $spacing-lg;
        margin: $spacing-2xl 0 0;
        div{
            min-width: 300px;
            background: rgba(255, 255, 255, 0.2);
            // TODO url('/media/bolt.svg') left center/cover no-repeat 
            border-radius: $spacing;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            padding: $spacing;
            @media (max-width: $breakpoint-xs) {
                min-width: none;
                width: 290px;
                margin: 0 auto;
            }
        }
        h4{
            position: relative;
            margin: 0 0 8px;
            span{
                position: absolute;
                opacity: 0;
            }
        }
        p{
            line-height: 21px;
        }
        @media (max-width: $breakpoint-lg) {
            grid-template-columns: repeat(auto-fit, 350px);
        }
        @media (max-width: $breakpoint-md) {
            grid-template-columns: repeat(auto-fit, 450px);
        }
        @media (max-width: $breakpoint-lg) {
            grid-template-columns: repeat(auto-fit, 350px);
        }
    }
}

.skill{
    position: relative;
    overflow: hidden;
    p{
        text-shadow: 0px 0px 4px #000;
    }
    // &:hover{
    //     span{
    //         opacity: .2;
    //         &.users{
    //             scale: 3.2;
    //         }
    //         &.bolt{
    //             scale: 3.2;
    //         }
    //         &.access{
    //             scale: 2.4;
    //         }
    //         &.test{
    //             top: 4px;
    //             scale: 2.4;
    //         }
    //         &.team{
    //             top: 20px;
    //             scale: 2.6;
    //         }
    //         &.puzzle{
    //             top: 10px;
    //             scale: 2.2;
    //         }
    //     }
    // }
    span{
        position: absolute;
        top: -8px;
        left: 0;
        z-index: -1;
        opacity: .1;
        scale: 3;
        transition: scale .25s ease-in-out, opacity .5s ease;
        &.users{
            top: 12px;
            scale: 3;
        }
        &.access{
            scale: 2.3;
        }
        &.test{
            top: 4px;
            scale: 2.2;
        }
        &.team{
            top: 20px;
            scale: 2.4;
        }
        &.puzzle{
            top: 10px;
            scale: 2;
        }
    }
}