@use '../shared';

#website{
    margin-top: calc(shared.$spacing-xxl * 2);

    .website{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: shared.$spacing-lg;
    }

    .card{
        .illustration{
            width: 100%;
            height: fit-content;
            overflow: hidden;
            position: relative;
            img{
                width: 100%;
                height: 225px;
                object-fit: cover;
                border-radius: shared.$spacing;
            }
            ul{
                position: absolute;
                display: flex;
                gap: 4px;
                bottom: shared.$spacing-xs;
                left: shared.$spacing-xs;
                li{
                    background: #000;
                    @include shared.glass(100, 0.5);
                    padding: 0 14px;
                    border-radius: shared.$spacing-xs;
                }
            }
        }
    }
}