#website{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider{
    background: rgba(255, 255, 255, 0.1);
    inset: 80px 200px 80px 80px;
    position: absolute;
    border-radius: $spacing-md;
    
}
.slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    border-radius: $spacing-md;
    box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    transition: .5s;
    &.malala{
        background: url('/public/media/bg-proj/malala.webp') center;
    }
    &.vacances{
        background: url('/public/media/bg-proj/tour.webp') center;
    }
    &.batman{
        background: url('/public/media/bg-proj/bat.webp') center;
    }
    &.panther{
        background: url('/public/media/bg-proj/pant.webp') center;
    }
    &.superman{
        background: url('/public/media/bg-proj/sup.webp') center;
    }

    // slides active
    &:nth-child(1),
    &:nth-child(2){
        top: 0;
        left: 0;
        transform: translateY(0);
        width: 100%;
        height: 100%;
        background-size: cover;
        box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0.555);
        .slide-description{
            opacity: 1;
            transform: translateY(0);
            transition-delay: .5s;
        }
    }
    &:nth-child(1){
        box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0);
    }
    &:nth-child(3){
        left: calc(50% + 240px);
        background-size: cover;
    }
    &:nth-child(4){
        left: calc(50% + 500px);
        background-size: cover;
    }
    &:nth-child(5){
        left: calc(50% + 760px);
        background-size: cover;
    }
}

.slider-buttons{
    position: absolute;
    display: flex;
    bottom: 15px;
    gap: $spacing-md;
    span{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px dotted var(--mint-cream);
        cursor: pointer;
        overflow: hidden;
        transition: transform .25s ease-in-out;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 15px;
            border-top: 4px solid var(--mint-cream);
            border-left: 4px solid var(--mint-cream);
            transform: translate(-50%, -50%) rotate(315deg);
        }
        &:hover{
            transform: scale(110%);
        }
        &:nth-child(2)::before{
            transform: translate(-50%, -50%) rotate(135deg);
        }
    }
}

.slide-description{
    position: relative;
    padding: $spacing-lg;
    max-width: 600px;
    transition: .25s;
    transition-delay: 0;
    opacity: 0;
    transform: translateY(40px);
}

// responsive
@media (max-width: $breakpoint-lg) {
    .slider{
        inset: 40px 40px 200px 40px;
    }
    .slides{
        width: 100px;
        height: 100px;
        bottom: -170px;
        top: initial;
        box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.5);
        &:nth-child(1),
        &:nth-child(2){
            top: initial;
            bottom: 0;
        }
        &:nth-child(3){
            left: 0;
        }
        &:nth-child(4){
            left: 120px;
        }
        &:nth-child(5){
            left: 240px;
        }
    }
}