footer{
    text-align: center;
    padding: $spacing 0 $spacing-lg;
}

.copyright{
    width: max-content;
    margin: 0 auto;
    height: max-content;
    > :first-child{
        display: flex;
        gap: $spacing-xs;
        justify-content: center;
        align-items: center;
        margin: 0 0 $spacing;
    }
}