header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: $spacing;
    background: hsla(0, 0%, 50%, 0.1);
    // backdrop-filter: blur(20px);
    border-bottom: 2px solid hsla(0, 0%, 50%, 0.1);
    z-index: 5;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        z-index: -1;
    }
    @media (max-width: $breakpoint-lg) {
        padding: $spacing 0;
        .nav-links{
            opacity: 0;
            transform: translate(62px, 52px);
            height: 20px;
            transition: .25s ease-in-out;
        }
        .nav-links ul{
            position: relative;
            display: grid;
            gap: $spacing;
            padding: $spacing $spacing-lg 68px $spacing-lg;
            border-radius: $spacing;
            background: rgba(255, 255, 255, 0.15);
            border: 2px solid hsla(0, 0%, 50%, 0.1);
            z-index: inherit;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                backdrop-filter: blur(0px);
                z-index: -1;
                transition: 2s ease-in-out;
            }
        }
        .language{
            position: absolute;
            top: 240px;
            right: 75px;
            opacity: 0;
            transform: translateX(50px);
            transition: .25s ease-in-out .15s;
        }
        .burger-menu{
            display: block;
        }
    }
    *{
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px $spacing-md;
    *{
        font-weight: 100;
    }
}

.logo{
    position: relative;
    padding-left: 10px;
    &::after{
        content: url('/public/media/fluent/beaming_face_with_smiling_eyes_flat.svg');
        transform: scale(.6);
        position: absolute;
        left: -18px;
        top: -7px;
    }
}

.nav-links ul{
    display: flex;
    gap: $spacing-xl;
    a{
        position: relative;
        transition: color .25s ease-in-out;
        &:hover{
            color: white;
        }
        &:hover::after{
            transform-origin: left;
            transform: scaleX(1);
        }
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            background: var(--mint-cream);
            opacity: .8;
            width: 100%;
            height: 2px;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .25s ease-in-out;
        }
    }
}

.language{
    position: relative;
    display: flex;
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    input:checked + label::after{
        transform: translate(30px, -50%);
    }
    label{
        display: flex;
        gap: $spacing;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(-6px, -50%);
            height: 22px;
            width: 30px;
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 6px;
            z-index: 1;
            transition: .25s transform ease-in-out;
        }
    }
    p{
        cursor: pointer;
        transition: .25s;
        z-index: 2;
    }
}

// burger menu

.burger-menu{
    display: none;
    position: fixed;
    right: $spacing;
    z-index: 5;
    input{
        position: absolute;
        opacity: 0;
    }
    div{
        height: 3px;
        width: 25px;
        border-radius: 2px;
        background: color-mix(in srgb, var(--mint-cream), transparent 20%);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }
    label{
        cursor: pointer;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25px;
            aspect-ratio: 1/1;
        }
        div{
            transition: .25s ease-in-out;
        }
        :nth-child(1){
            transform: translateY(-4px) rotate(0);
        }
        :nth-child(2){
            opacity: 1;
        }
        :nth-child(3){
            transform: translateY(4px) rotate(0);
        }
    }
}

nav:has(.burger-menu input:checked) .burger-menu label{
    :nth-child(1){
        transform: translateY(3px) rotate(-45deg);
    }
    :nth-child(2){
        opacity: 0;
    }
    :nth-child(3){
        transform: translateY(-3px) rotate(45deg);
    }
}

nav:has(.burger-menu input:checked){
    .nav-links{
        transform: translate(12px, 52px);
        opacity: 1;
        ul::after{
            backdrop-filter: blur(20px);
        }
    }
    .language{
        transform: translateX(0);
        opacity: 1;
    }
}
