/* Default styles */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  /* CSS HSL */
  --lavender-web: hsla(248, 54%, 89%, 1);
  --mint-cream: hsla(111, 24%, 94%, 1);
  --dark-black: hsl(210, 50%, 1%);
  --palatinate-blue: hsla(224, 92%, 46%, 1);
  --celestial-blue: hsla(202, 78%, 49%, 1);
  --licorice: hsla(283, 16%, 8%, 1);
  --turquoise: hsla(166, 70%, 68%, 1);
  --lavender-blush: hsla(4, 100%, 97%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: var(--mint-cream);
}

body {
  min-height: 100dvh;
  max-width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: hsl(220, 100%, 22%);
  background-image: radial-gradient(at 49% 40%, hsl(253, 100%, 47%) 0px, transparent 50%), radial-gradient(at 96% 41%, hsl(250, 100%, 38%) 0px, transparent 50%), radial-gradient(at 72% 97%, hsla(253, 100%, 49%, 0.9) 0px, transparent 50%), radial-gradient(at 86% 9%, hsl(253, 70%, 45%) 0px, transparent 50%), radial-gradient(at 12% 48%, hsla(300, 62%, 20%, 0.38) 0px, transparent 50%), radial-gradient(at 89% 70%, hsl(224, 92%, 46%) 0px, transparent 50%);
}

body::-webkit-scrollbar {
  width: 0.45em;
}

body::-webkit-scrollbar-track {
  background: color-mix(in srgb, var(--mint-cream), transparent 60%);
  border-left: 1px solid hsla(111, 24%, 94%, 0.1);
}

body::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--mint-cream), transparent 25%);
}

body,
button {
  font-family: "Inter";
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
  letter-spacing: -1%;
}

p {
  font-weight: 300;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 3.053rem;
  /* 48.8px */
}

h2 {
  font-size: 2.442rem;
  /* 39.04px */
}

h3 {
  font-size: 1.954rem;
  /* 31.2px */
}

h4 {
  font-size: 1.563rem;
  /* 24.96px */
}

h5 {
  font-size: 1.25rem;
  /* 20px */
}

small {
  font-size: 0.8rem;
  /* 12.8px */
}

header {
  padding: 1em;
}

nav {
  display: flex;
  justify-content: space-between;
  background: var(--delft-blue);
  padding: 0.6666666667em 1.5em;
  border-radius: 1.75em;
}

.nav-links ul {
  display: flex;
  gap: 1em;
}

footer {
  text-align: center;
  padding: 1em 0 1.75em;
}

.copyright {
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  height: -moz-max-content;
  height: max-content;
}

.copyright > :first-child {
  display: flex;
  gap: 0.6666666667em;
  justify-content: center;
  align-items: center;
  margin: 0 0 1em;
}

.copyright span {
  position: relative;
  top: 2px;
}

/*Desktop First*/

.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/

/*xl*/

/*lg*/

/*md*/

/*sm*/

/*xs*/

#intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bio {
  display: flex;
}

.bio .info {
  max-width: 600px;
}

.bio .me {
  rotate: -45deg;
}

.bio .me img {
  width: 100%;
  height: 100%;
}

.get-in-touch {
  margin: 2em 0 0;
}

.get-in-touch button {
  background: none;
  border: 2px dotted var(--mint-cream);
  padding: 0.6666666667em 1.75em;
  border-radius: 1.75em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.25s ease-in-out 0.25s;
}

.get-in-touch button:hover::before {
  transform: translate(0%, -50%);
}

.get-in-touch button::before {
  content: "";
  height: 200%;
  width: 100%;
  border-radius: 3em;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  left: 0;
  background: var(--mint-cream);
  z-index: -1;
  transition: transform 0.5s ease-in-out, border 0.15s ease-in-out 0.5s;
}

.get-in-touch button:hover {
  color: var(--palatinate-blue);
  border: 2px solid var(--mint-cream);
  box-shadow: 0px 0px 2px inset var(--mint-cream);
}

.tech h2 {
  text-align: center;
}

.tech ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3em;
  margin: 1em 0 6em;
}

.tech ul li {
  position: relative;
}

.tech ul :nth-child(4)::after,
.tech ul :nth-child(7)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 60px;
  width: 4px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.do h2 {
  text-align: center;
}

.do > p {
  margin: 1em 0 0;
  text-align: center;
}

.do .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  justify-content: center;
  gap: 1.5em;
  margin: 2.5em 0 0;
}

.do .list div {
  min-width: 300px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1em;
}

.do .list h4 {
  position: relative;
}

.do .list h4 span {
  position: absolute;
  opacity: 0;
}

.web-creation {
  text-align: center;
}

#website {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  background: rgba(255, 255, 255, 0.1);
  inset: 80px 200px 80px 80px;
  position: absolute;
  border-radius: 1.5em;
}

.slides {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 240px;
  height: 320px;
  border-radius: 1.5em;
  box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0.5);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  transition: 0.5s;
}

.slides.malala {
  background: url("/public/media/bg-proj/malala.webp") center;
}

.slides.malala > .slide-description {
  background: hsla(162, 94%, 31%, 0.2);
}

.slides.vacances {
  background: url("/public/media/bg-proj/tour.webp") center;
}

.slides.vacances > .slide-description {
  background: hsla(32, 6%, 45%, 0.452);
}

.slides.batman {
  background: url("/public/media/bg-proj/bat.webp") center;
}

.slides.batman > .slide-description {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slides.panther {
  background: url("/public/media/bg-proj/pant.webp") center;
}

.slides.panther > .slide-description {
  background: hsla(224, 92%, 46%, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slides.superman {
  background: url("/public/media/bg-proj/sup.webp") center;
}

.slides.superman > .slide-description {
  background: hsla(0, 100%, 29%, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.slides:nth-child(1),
.slides:nth-child(2) {
  top: 0;
  left: 0;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  background-size: cover;
  box-shadow: 0 25px 50px color-mix(in srgb, var(--dark-black), transparent 50%);
}

.slides:nth-child(1) .slide-description,
.slides:nth-child(2) .slide-description {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}

.slides:nth-child(1) .slide-description h2,
.slides:nth-child(2) .slide-description h2 {
  text-shadow: 0px 2px 4px color-mix(in srgb, var(--dark-black), transparent 50%), 0px 2px 16px color-mix(in srgb, var(--dark-black), transparent 50%);
}

.slides:nth-child(1) .slide-description p,
.slides:nth-child(2) .slide-description p {
  text-shadow: 0px 2px 8px var(--dark-black), 0px 2px 16px var(--dark-black), 0px 2px 20px var(--dark-black);
}

.slides:nth-child(1) {
  box-shadow: 0 25px 50px hsla(0, 0%, 0%, 0);
}

.slides:nth-child(3) {
  left: calc(50% + 240px);
  background-size: cover;
}

.slides:nth-child(4) {
  left: calc(50% + 500px);
  background-size: cover;
}

.slides:nth-child(5) {
  left: calc(50% + 760px);
  background-size: cover;
}

.slider-buttons {
  position: absolute;
  display: flex;
  bottom: 15px;
  gap: 1.5em;
}

.slider-buttons span {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--mint-cream);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}

.slider-buttons span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-top: 4px solid var(--mint-cream);
  border-left: 4px solid var(--mint-cream);
  transform: translate(-50%, -50%) rotate(315deg);
}

.slider-buttons span:hover {
  transform: scale(110%);
}

.slider-buttons span:nth-child(2)::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.slide-description {
  position: relative;
  padding: 1.75em;
  max-width: 600px;
  transition: 0.25s;
  transition-delay: 0;
  opacity: 0;
  transform: translateY(40px);
  background: hsla(224, 92%, 46%, 0.3);
  border-radius: 0 1.75em 0 1em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1em;
}

.slide-links {
  margin: 1.75em 0 0;
  display: flex;
  gap: 6px;
}

.slide-links > :nth-child(1) {
  border-radius: 1.75em 8px 8px 1.75em;
  padding: 8px 1em 8px 1.75em;
}

.slide-links :nth-child(2) {
  border-radius: 8px 1.75em 1.75em 8px;
  padding: 4px 8px 4px 12px;
}

.slide-links :nth-child(2) span {
  position: relative;
  top: 1px;
}

.slide-links :nth-child(2) img {
  scale: 1.1;
}

.slide-links a {
  border: 2px solid white;
  font-size: 1rem;
  box-shadow: 0px 4px 12px color-mix(in srgb, var(--dark-black), transparent 50%);
}

.slide-links .p {
  text-transform: uppercase;
  font-weight: 500;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form > div {
  width: 50%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 3em;
  flex-grow: 1;
}

.contact .details > div {
  margin: 2em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.contact .details > div span {
  position: relative;
  top: 2px;
}

.contact .social-media {
  display: flex;
  gap: 3em;
}

form {
  width: 100%;
  background-color: white;
  border-radius: 1.5em;
  padding: 1.75em;
  display: grid;
  gap: 1.5em;
}

form label {
  color: var(--palatinate-blue);
}

form > div {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  background: none;
  width: 100%;
  color: black;
  font-size: 1rem;
  font-family: "Inter";
}

form input:focus,
form textarea:focus {
  outline: none;
}

form textarea {
  resize: none;
  border-radius: 1em;
  padding: 1em;
  margin: 0.6666666667em 0 0;
}

form input {
  border: none;
  border-bottom: 2px solid var(--palatinate-blue);
  padding: 1em;
}

form button {
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  color: var(--palatinate-blue);
  border: 2px solid var(--palatinate-blue);
  padding: 0.6666666667em 1.75em;
  justify-self: center;
  border-radius: 1.75em;
  font-weight: 600;
  text-transform: uppercase;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-30deg) translate(25%, 15%);
  z-index: -1;
}

.frame-box {
  display: flex;
  justify-content: center;
}

.frame {
  width: 250px;
  aspect-ratio: 2/1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  margin: 0.6666666667em;
}

main {
  overflow: hidden;
}

section {
  min-height: 100vh;
}

.fixed {
  position: fixed;
  bottom: 1.75em;
  left: 2em;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.scroll-top {
  width: 25px;
  aspect-ratio: 1/1.5;
  border-radius: 1em;
  outline: 2px solid color-mix(in srgb, var(--mint-cream), transparent 50%);
  box-shadow: 0px 0px 10px var(--mint-cream);
  position: relative;
  cursor: pointer;
}

.scroll-top:hover::before {
  transform: translateY(-50%) scaleX(1);
}

.scroll-top::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-40%, -50%);
  height: 10px;
  width: 5px;
  border-radius: 2px;
  background: var(--mint-cream);
  box-shadow: 0px 0px 10px var(--mint-cream);
  animation: scroll 1s linear infinite;
}

.scroll-top::before {
  content: "scroll pour en voir plus";
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  font-weight: 200;
  left: 35px;
  top: 50%;
  transform: translateY(-50%) scaleX(0);
  transform-origin: left;
  transition: transform 0.15s ease-in-out;
}

.scroll-top .go-to-top {
  height: 8px;
  width: 4px;
  border-radius: 2px;
  background: var(--mint-cream);
  box-shadow: 0px 0px 10px var(--mint-cream);
  position: relative;
}

.scroll-top .go-to-top::after {
  content: "";
  position: absolute;
  top: -14px;
  left: -6px;
  width: 12px;
  aspect-ratio: 1/1;
  border-top: 4px solid var(--mint-cream);
  border-right: 4px solid var(--mint-cream);
  transform: rotate(315deg);
  animation: go-to-top 1.25s linear infinite;
}

.scroll-top .go-to-top::before {
  content: "";
  position: absolute;
  top: -14px;
  left: -6px;
  width: 12px;
  aspect-ratio: 1/1;
  border-top: 4px solid var(--mint-cream);
  border-right: 4px solid var(--mint-cream);
  transform: rotate(315deg);
  z-index: -1;
  filter: blur(5px);
  opacity: 0.7;
  animation: go-to-top 1.25s linear infinite;
}

@keyframes go-to-top {
  0% {
    transform: translateY(0) rotate(315deg);
  }

  50% {
    transform: translateY(2px) rotate(315deg);
  }

  100% {
    transform: translateY(0) rotate(315deg);
  }
}

@keyframes scroll {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -30%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .slider {
    inset: 40px 40px 200px 40px;
  }

  .slides {
    width: 100px;
    height: 100px;
    bottom: -170px;
    top: initial;
    box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.5);
  }

  .slides:nth-child(1),
  .slides:nth-child(2) {
    top: initial;
    bottom: 0;
  }

  .slides:nth-child(3) {
    left: 0;
  }

  .slides:nth-child(4) {
    left: 120px;
  }

  .slides:nth-child(5) {
    left: 240px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .slide-description {
    border-radius: 0 0 1.5em 1.5em;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
/*# sourceMappingURL=global.css.map */
