/*Desktop First*/
.container {
  max-width: 1536px;
  margin: 0 auto;
}

/*2xl*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 90%;
  }
}
/*xl*/
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/*lg*/
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
/*md*/
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
/*sm*/
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
/*xs*/
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
span[lang] {
  font-weight: inherit;
  animation: fadeIguess 0.7s ease-in-out forwards;
}

@keyframes fadeIguess {
  from {
    transform: translateX(-5px);
    opacity: 0.7;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
span[lang=en] {
  display: none;
}

body:has(.language input:checked) * [lang=fr] {
  display: none;
}

body:has(.language input:checked) * [lang=en] {
  display: block;
}

body,
button {
  font-family: "Inter Variable", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  letter-spacing: -1%;
}

p {
  font-weight: 200;
}

html {
  font-size: 100%;
}

/* 16px */
h1 {
  font-size: 3.053rem;
  /* 48.8px */
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 2.3rem;
  }
}
@media (max-width: 475px) {
  h1 {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 2.442rem;
  /* 39.04px */
}
@media (max-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 640px) {
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 475px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.954rem;
  /* 31.2px */
}

h4 {
  font-size: 1.563rem;
  /* 24.96px */
}
@media (max-width: 1024px) {
  h4 {
    font-size: 1.4rem;
  }
}
@media (max-width: 475px) {
  h4 {
    font-size: 1.3rem;
  }
}

h5 {
  font-size: 1.25rem;
  /* 20px */
}

small {
  font-size: 0.8rem;
  /* 12.8px */
}

.emoji {
  margin-right: 4px;
}
.emoji img {
  position: relative;
  top: 8px;
}
@media (max-width: 640px) {
  .emoji img {
    top: 8px;
    width: 40px;
    aspect-ratio: 1/1;
  }
}
@media (max-width: 475px) {
  .emoji img {
    top: 14px;
    width: 30px;
    aspect-ratio: 1/1;
  }
}

header {
  background: red;
}

footer {
  text-align: center;
}

/* Default styles */
:root {
  /* CSS HSL */
  --lavender-web: hsla(248, 54%, 89%, 1);
  --mint-cream: hsla(111, 24%, 94%, 1);
  --dark-black: hsl(210, 50%, 1%);
  --palatinate-blue: hsla(224, 92%, 46%, 1);
  --celestial-blue: hsla(202, 78%, 49%, 1);
  --licorice: hsla(283, 16%, 8%, 1);
  --turquoise: hsla(166, 70%, 68%, 1);
  --lavender-blush: hsla(4, 100%, 97%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  color: var(--mint-cream);
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: hsl(220, 100%, 22%);
  background-image: radial-gradient(at 49% 40%, hsl(253, 100%, 47%) 0px, transparent 50%), radial-gradient(at 96% 41%, hsl(250, 100%, 38%) 0px, transparent 50%), radial-gradient(at 72% 97%, hsla(253, 100%, 49%, 0.9) 0px, transparent 50%), radial-gradient(at 86% 9%, hsl(253, 70%, 45%) 0px, transparent 50%), radial-gradient(at 12% 48%, hsla(300, 62%, 20%, 0.38) 0px, transparent 50%), radial-gradient(at 89% 70%, hsl(224, 92%, 46%) 0px, transparent 50%);
}
body::-webkit-scrollbar {
  width: 0.45em;
}
body::-webkit-scrollbar-track {
  background: color-mix(in srgb, var(--mint-cream), transparent 60%);
  border-left: 1px solid hsla(111, 24%, 94%, 0.1);
}
body::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--mint-cream), transparent 25%);
}
/*# sourceMappingURL=global.css.map */